# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media and Static files
/frontend/media/*
!/frontend/media/.gitkeep
!/frontend/media/properties/.gitkeep
!/frontend/media/profiles/.gitkeep
!/frontend/media/documents/.gitkeep

# Environment
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Project specific
*.pyc
/static/
/staticfiles/
.env.local
.env.development.local
.env.test.local
.env.production.local

# Model files
src/**/*.model
src/**/*.pt
src/**/*.pth
src/**/*.h5
src/**/*.hdf5
src/**/*.pkl
src/**/*.joblib
src/**/*.onnx
src/**/*.tflite
src/**/*.pb
src/**/*.savedmodel/
src/models

# Backup files
*.bak
*.tmp
*.temp
node_modules
node_modules
